.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 9999px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.9);
}

.Headeradd__Icon {
  height: 50px;
  width: 50px;
}

.Headeradd__Todo {
  display: flex;
  border: none;
  background-color: transparent;
  align-content: center;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  color: red;
  cursor: pointer;
}


@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 20px;
  }

  .Headeradd__Todo {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .Headeradd__Icon {
    height: 40px;
    width: 40px;
  }
}